:root{
    --branco-principal: #FFFFFF;
    --amarelo-secundario: #d6d576;
    --botao-verde: #59c427;
    --cor-de-fundo: #264b0d;
    --fonte-principal: 'Bona Nova SC'
}


header{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
   
    
}
    
*{
    margin: 0;
    padding: 0;
    
}
    

    .cabeçalho-titulo{
        display: inline-block;
        margin: 0 16px;
        font-size: 24px 0;
    }
    .cabeçalho-imagem{
        padding: 24px 0;
        margin: 0 16px;
    }
    
    
    .principalcontainer{
        height: 100vh;
        display: grid;
        grid-template-columns: 50% 50%;
        }
        
        .container-botao{
        
        background-color: var(--botao-verde);
        border-radius: 5px;
        padding: 1em;
        color: var(--branco-principal);
        display: block;
        text-decoration: none;
        }

        .container-titulo{
            font-size: 16px;
            font-weight: 700;
    }

.container-botao{
margin-bottom: 1em;
}
                
.container-caixa{
margin: 0 6 em;
}

.containersecundario{
    width: 20px;
}
.containersecundario1{
    width: 10px;
}
.drones{
    background-image:linear-gradient(#466b46 ,#628862);
    color: rgb(10, 12, 12);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.img-um{
    width: 0 24px;
    margin:24px 0;

}
.img-dois{
    width: 0 24px;
    margin:24px 0;

}
.img-tres{
    width: 0 24px;
    margin:24px 0;

}